<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Minha Página</title>
        <meta charset="utf-8"/>
        <!--<css></css>-->
        <script src="bootstrap/js/bootstrap.min.js"></script>
    </head>

    <body>
        <nav >
        </nav>

        <section id="quem-somos">
            <div class="container-fluid text-center margin quem-somos">
                <h3>Quem Somos</h3>
                <img src="img/foto 1.jpeg" cla class="rounded-circle" width="400px" height="400px">
                <h3 class="margin-text"> Somos um time comprometidos com os resultados</h3>
            </div>
        </section>

        <footer>
            <p class="container-fluid bg-footer text-center margin">Desenvolcido por Paulo Manzano</p>
        </footer>
            
    </body>
    
</html>